<<<<<<< HEAD
table {
  margin-top: 2em;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 1.2rem;
  margin-bottom: 15em;
}

th {
  border-bottom: 1px solid #ddd;
}

th,
td {
  width: 80%;
}

table {
  margin-left: auto;
  margin-right: auto;
}

tr:nth-child(2) {
  text-align: left;
=======

rder-bottom: 1px solid gray;
    margin: 0;
    padding: 0;
    text-align: left;
}

th:first-child {
    text-align: center;
}

table {
    width: 90%;
    border: 1px solid gray;
    margin: auto;
    margin-top: 40px;
    padding: 0;
}

td {
    padding-left: 3px;
>>>>>>> c79235b532e20913fbb7b173a242caaa514aa5e4
}
